 .rc-virtual-list-holder-inner {
    gap: 6px !important;
}

.ant-select-item-option-selected {
    background: linear-gradient(103.01deg, #ae862599 1.55%, #f7ef8a99 33%, rgba(210, 172, 71, 0.6) 66.5%, #edc96799 100%);
    color: black !important;
    border-color: transparent !important;
    background-clip: border-box !important;
}

.ant-select-item-option-selected .ant-select-item-option-state {
    color: #000 !important;
}

.ant-select-outlined:hover {
    border-color: #f7ef8a;
    outline-color: #f7ef8a;
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #f7ef8a;
    outline-color: #f7ef8a;
    box-shadow: 0px 0px 5px 2px #f2e26ab6;

}


.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #e5da40;
}