.changePasswordModal {
    width: 623px !important;
}

.changePasswordModal :global(.ant-modal-content) {
    padding: 0px !important;
    border-radius: 16px !important;
}

.changePasswordModal :global(.ant-modal-close) {
    display: none !important;
}